<%- include('../includes/header') %>
<div class="siteContentt">
    <div class="ex3">
        <div class="cart-table-wrapper">
            <div class="menuCheck">
                <form method="post" action="" encType="multipart/form-data">
                    <center>
                        <h2><%= lang['views.cart.checkoutTitleTxt'] %></h2><br><br>
                    </center>
                    <%= lang['views.nameTxt'] %><br>
                    <input type="text" name="name" placeholder="" autofocus><br><br>
                    <% if(typeof flash.errors != "undefined" && flash.errors.name) { %>
                        <div class="empty-fields">
                            <%= flash.errors.name %>
                        </div>      
                    <% } %>
                    <%= lang['views.fathersnameTxt'] %><br>
                    <input type="text" name="surname" placeholder=""><br><br>
                    <% if(typeof flash.errors != "undefined" && flash.errors.surname) { %>
                        <div class="empty-fields">
                            <%= flash.errors.surname %>
                        </div>      
                    <% } %>
                    <%= lang['views.surnameTxt'] %><br>
                    <input type="text" name="fathersname" placeholder=""><br><br>
                    <% if(typeof flash.errors != "undefined" && flash.errors.fathersname) { %>
                        <div class="empty-fields">
                            <%= flash.errors.fathersname %>
                        </div>      
                    <% } %>
                    <%= lang['views.phoneTxt'] %><br>
                    <input type="text" name="phone" placeholder=""><br><br>
                    <% if(typeof flash.errors != "undefined" && flash.errors.phone) { %>
                        <div class="empty-fields">
                            <%= flash.errors.phone %>
                        </div>      
                    <% } %>
                    <%= lang['views.townTxt'] %><br>
                    <input type="text" name="town" placeholder =""><br><br>
                    <% if(typeof flash.errors != "undefined" && flash.errors.town) { %>
                        <div class="empty-fields">
                            <%= flash.errors.town %>
                        </div>      
                    <% } %>
                    <%= lang['views.cart.adressOrCourierTxt'] %><br>
                    <input type="text" name="address" placeholder =""><br><br>
                    <% if(typeof flash.errors != "undefined" && flash.errors.address) { %>
                        <div class="empty-fields">
                            <%= flash.errors.address %>
                        </div>      
                    <% } %>
                    <button type="submit"><h2><%= lang['views.cart.orderBtnTxt'] %></h2></button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/footer') %>