<%- include('../includes/header') %>
<div class="siteContent">
  <div class="ex3">
    <div class="menuCheck">
      <form method="post" action="" encType="multipart/form-data">
        <div class="title-registration">
          <%= lang['views.register.registrationTxt'] %> 
        </div><br><br>
        <%= lang['views.usernameTxt'] %><br>   
          <input type="text" name="username" value="<% if(typeof flash.lastIntroduced != "undefined" && flash.lastIntroduced.username) { %><%= flash.lastIntroduced.username %><% } %>"><br>
          <% if(typeof flash.errors != "undefined" && flash.errors.username) { %>
            <div class="username-exists">
              <%= flash.errors.username %>
            </div><br>
          <% } else if(typeof flash.success != "undefined" && flash.success.username) { %>
            <div class="username-free">
                <%= flash.success.username %>
            </div>
          <% } %>
          <% if(typeof flash.success != "undefined" && flash.success.proposedUsername) { %>
            <div class="proposedUsername">
              <%= flash.success.proposedUsername %>
            </div>
          <% } %>
          <% if(typeof flash.freeUsername != "undefined" && flash.freeUsername.username) { %>
            <div class="freeUsername">
              <%= flash.freeUsername.username %>
            </div>
          <% } %>
          <br>
          <%= lang['views.passwordTxt'] %><br>
          <input type="password" name="password"><br>
          <% if(typeof flash.errors != "undefined" && flash.errors.password) { %>
            <div class="small-password">     
              <%= flash.errors.password %>    
            </div>
          <% } %>
          <br>
          <%= lang['views.register.repeadPasswordTxt'] %><br>
          <input type="password" name="repeatPassword">
          <% if(typeof flash.errors != "undefined" && flash.errors.repeatPassword) { %>
            <div class="password-mismatch">        
              <%= flash.errors.repeatPassword %>       
            </div>
          <% } %>
          <br><br>
          <%= lang['views.nameTxt'] %><br>
          <input type="text" name="name" value="<% if(typeof flash.lastIntroduced  != "undefined" && flash.lastIntroduced.name) { %><%= flash.lastIntroduced.name %><% } %>">
          <% if(typeof flash.errors != "undefined" && flash.errors.name) { %>
            <div class="isMissingName">   
              <%= flash.errors.name %>  
            </div>
          <% } %>
          <br><br>
          <%= lang['views.surnameTxt'] %><br>
          <input type="text" name="surname" value="<% if(typeof flash.lastIntroduced  != "undefined" && flash.lastIntroduced.surname) { %><%= flash.lastIntroduced.surname %><% } %>">
          <% if(typeof flash.errors != "undefined" && flash.errors.surname) { %>
            <div class="isMissingFathersname">           
              <%= flash.errors.surname %>            
            </div>
          <% } %>
          <br><br>
          <%= lang['views.register.egnTxt'] %><br>
          <input type="text" name="egn" value="<% if(typeof flash.lastIntroduced  != "undefined" && flash.lastIntroduced.egn) { %><%= flash.lastIntroduced.egn %><% } %>">
          <% if(typeof flash.errors != "undefined" && flash.errors.egn) { %>
            <div class="isMissingEgn">        
              <%= flash.errors.egn %>           
            </div>
          <% } %>
          <br><br>
          <%= lang['views.townTxt'] %><br>
          <input type="text" name="town" value="<% if(typeof flash.success  != "undefined" && flash.lastIntroduced.town) { %><%= flash.lastIntroduced.town %><% } %>"><br>
          <% if(typeof flash.errors != "undefined" && flash.errors.town) { %>
            <div class="isMissingTown">        
              <%= flash.errors.town %>        
            </div>
          <% } %>
          <br>
          <%= lang['views.register.streetTxt'] %><br>
          <input type="text" name="street" value="<% if(typeof flash.lastIntroduced  != "undefined" && flash.lastIntroduced.street) { %><%= flash.lastIntroduced.street %><% } %>"><br>
          <% if(typeof flash.errors != "undefined" && flash.errors.street) { %>
            <div class="isMissingStreet">           
              <%= flash.errors.street %>         
            </div>
          <% } %>
          <br>
          <%= lang['views.previousJobTxt'] %><br>
          <input type="text" name="previousJob" value="<% if(typeof flash.lastIntroduced  != "undefined" && flash.lastIntroduced.previousJob) { %><%= flash.lastIntroduced.previousJob %><% } %>"><br>
          <% if(typeof flash.errors != "undefined" && flash.errors.previousJob) { %>
            <div class="isMissingPreviousJob">         
              <%= flash.errors.previousJob %>          
            </div>
          <% } %>
          <br>
          <%= lang['views.worksAsTxt'] %><br>
          <input type="text" name="worksAs" value="<% if(typeof flash.lastIntroduced  != "undefined" && flash.lastIntroduced.worksAs) { %><%= flash.lastIntroduced.worksAs %><% } %>"><br>
          <% if(typeof flash.errors != "undefined" && flash.errors.worksAs) { %>
            <div class="isMissingWorksAs">        
              <%= flash.errors.worksAs %>      
            </div>
          <% } %>
          <br>
          <%= lang['views.register.profilePictureTxt'] %><br> 
          <input type="file" name="image"><br><br>
        <button type="submit"><h3><%= lang['views.register.registrationTxt'] %></h3></button>     
      </form>
    </div>
  </div>
</div>
<%- include('../includes/footer') %>
