<%- include('../includes/header') %>
<div class="siteContentHome">
  <div class="ex3">
        <div class="wrapperRow2">
            <div id="container" class="clear">
                <section id="fof" class="clear">
                <div class="hgroup">
                    <h1><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
                    <h2><span><%= lang['errors.error404.message'] %> <br> <%= lang['errors.error404.pageNotFound'] %></span></h2>
                </div>
                <p><%= lang['errors.error404.goBackTo'] %> <a href="/"><%= lang['errors.error404.theBeginning'] %></a> <%= lang['errors.error404.orUse'] %> <a href="/pages/search"><%= lang['errors.error404.searchEngine'] %></a> <%= lang['errors.error404.OnTheSite'] %></p>       
                </section>
            </div>
        </div>
  </div>
</div>
<%- include('../includes/footer') %>
