<!-- <%- include('../includes/header') %>
<div class="siteContent">
    <div class="ex3"> 
        <div class="success-search">
            <% if(typeof flash.success != "undefined" && flash.success.search) { %>
                <div class="">
                    <%= lang['success.search.result'] %> <%= flash.success.search %>
                </div>
            <% } %>
        </div>
        <% if(typeof flash.errors != "undefined" && flash.errors.search) { %>
            <div class="searchResult">
                <%= lang['errors.search.noResult'] %>
            </div>
        <% } %>
        <div class="div-search-result">
            <% if (typeof articles != "undefined" ) { %>
                <% articles.forEach(function(article) { %>
                    <div class="info-article">
                        <a href="/articles/show/<%= article.slug %>/<%= article._id %>"><br>
                            <%= lang['views.articles.postedTxt'] %> <%= article.name %><br>
                            <%= lang['views.titleTxt'] %> <%= article.title %><br><br>
                        </a>
                        <p>
                            <h6>
                            <%= lang['views.articles.addedArticleTxt'] %> <%= article.date %><br>
                            <%= lang['views.articles.visitedArticleTxt'] %> <%= article.views %> <%= lang['views.timesTxt'] %> 
                            </h6>
                        </p>         
                        <div class="buttonDelete">
                            <a href="/articles/delete/<%= article._id %>"><%= lang['views.articles.deleteArticleTxt'] %></a><br><br><br>
                        </div>
                        <div class="buttonComment">
                            <a href="/articles/show/<%= article.slug %>/<%= article._id %>"><%= lang['views.articles.commentArticleTxt'] %></a><br><br><br>
                        </div>
                    </div>    
                <% }); %>  
            <% } %> 
        </div>
    </div>
</div>
<%- include('../includes/footer') %> -->